p.listcaption 		{ border: 1px solid #A2A09F; font-weight: bold; padding: 1px; padding-left: 5px; background-image: url(images/button_bg.jpg); }
p.listsubcaption 	{ border-bottom: 1px solid #D6CBC2; }
p.listrow 		{ padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; }
p.listitemrow 		{ padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; border-top: 1px solid #D6CBC2; margin-bottom: 3px; }
p.listplaceitemsrow 	{ padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; }
.valueincreased 	{ font-weight: bold; color: #ff0000; }
.itemamount 		{ font-weight: bold; color: #751700; }
.itemequipped 		{ font-weight: bold; color: #ff0000; }
.itemmagic 		{ font-weight: bold; color: #008800; }
.iteminventorypics 	{ visibility: visible; }
