/* csd - Comprimized Status Display by bwoebi */

.frameitembg p.listrow[id^="listrow_"]:not(#listrow_status) { white-space: nowrap; overflow: hidden; max-width: 260px; }
#listrow_special + #listrow_status span.small:not(:empty):before { content: "|"; margin-right: 3px; }
#listrow_special + #listrow_status span.small { padding-left: 33px; }
#listrow_special { background-color: transparent; border: medium none; display: block; overflow: hidden; position: absolute; width: 29px }
#listrow_defensew:after, #listrow_attackw:after { content: " )"; }
#listrow_attackw:before, #listrow_defensew:before { content: "("; }
#listrow_attackw:before, #listrow_defensew:before { visibility: visible; }
#listrow_attackw[title], #listrow_defensew[title] { visibility: hidden; } /* [title], um "(keine)" anzuzeigen, wenn keine Waffe angelegt */
#listrow_attackp .valueincreased { padding-right: 1000px; }
#listrow_attackw, #listrow_defensew { left: 100px; font-size: 90%; }
#listrow_attackw, #listrow_defensew { background-color: transparent; border: medium none; margin-top: -19px; max-width: 105px !important; overflow: hidden; position: absolute; }
#listrow_defensep:before { content: "V: "; font-weight: bold; color: #2E9AFE; }
#listrow_attackp:before { content: "A: "; font-weight: bold; color: #2E9AFE; }
#listrow_neck b{ visibility:hidden;max-width: 12px;
    overflow: hidden;
    float:left;}
#listrow_neck b:before{ content: "H: "; font-weight: bold; color: #2E9AFE;visibility:visible;}
#listrow_neck b:after{ padding-right : 10px;}
#listrow_group > b, #listrow_clan > b, #listrow_lifep > b, #listrow_money > b, #listrow_int > b, #listrow_attackp > b, #listrow_defensep > b, #listrow_attackw > b, #listrow_defensew > b { display: none; }
#listrow_int:before { content: "I: "; font-weight: bold; color: #2E9AFE; }
#listrow_int span { padding-right: 100px; }
#listrow_int span:after { color: black; content: ")"; }
#listrow_int { background-color: transparent; border: medium none; margin-top: -19px; overflow: hidden; position: absolute; right: 0; max-width: 100px !important; }
#listrow_money:before { content: "Gm: "; font-weight: bold;  color: #2E9AFE;}
#listrow_money > img { padding-right: 1000px; overflow: hidden; white-space: nowrap; } /* Blende das "( | )" aus */
#listrow_money a[href$="moneydrop1"] { left: -1015px; position: relative; top: -1px; }
#listrow_money a img { width: 19px; }
#listrow_money a[href$="moneytransfer1"] { left: -1022px; position: relative; top: -1px; }
#listrow_lifep:before { content: "Lp: "; font-weight: bold; color: #2E9AFE; }
#listrow_lifep { background-color: transparent; border: medium none; margin-top: -19px; position: absolute; right: 11px; }
#listrow_group:after { content: ")"; font-weight: bold; margin-left: 6px;  color: #2E9AFE;}
#listrow_group a { display: inline-block; height: 15px; left: 20px; overflow: hidden; position: absolute; width: 10px; }
#listrow_group:before { content: "G ("; font-weight: bold; color: #2E9AFE; }
#listrow_group { background-color: transparent; border: medium none; left: 162px; margin-top: -39px; position: absolute; }
#listrow_clan:before { color: black; content: "C: "; font-weight: bold;  color: #2E9AFE;}
#listrow_clan { color: transparent; }
#listrow_clan a { display: inline-block; left: 30px;  /*max-width: 50px*/; overflow: hidden; position: absolute; }
#listrow_clan a:first-of-type:hover { max-width: 200px; background-color: #ECE9E6; z-index: 6; }
/*#listrow_clan a:last-of-type { left: 150px; margin-top: -16px; }*/
#listrow_clan a:last-of-type { left: 139px; margin-top: -16px; }
#listrow_char_mission { border: medium none; font-size: 10px; margin-top: -19px; position: absolute; right: 11px; }
#listrow_char_mission a:first-of-type:before { display: inline-block; height: 10px; }
#listrow_char_mission a:first-of-type { display: inline-block; height: 10px; overflow: hidden; width: 28px; }
#listrow_char_mission a:last-of-type, #listrow_aka_battlep b:last-of-type:not(:first-of-type) { color: transparent; font-size: 0.001%; }
#listrow_char_mission a:last-of-type:before { color: blue; content: "Auftrag"; font-size: 10px; }
#listrow_aka_battlep b:first-of-type:not(:last-of-type) { display: inline-block; height: 10px; margin-right: 3px; overflow: hidden; width: 18px; }
#listrow_aka_battlep b:last-of-type:not(:first-of-type):before { color: black; content: "KP "; font-size: 10px; font-weight: bold; }
#listrow_aka_battlep b:first-of-type:not(:last-of-type):after { content: ":"; font-weight: bold; left: 29px; position: absolute; }
