#listrow_int ~ p.listrow[title$="0%"]:after { content: " (<3% - REPAIR)"; color: red; }
#listrow_int ~ p.listrow[title$="1%"]:after { content: " (<3% - REPAIR)"; color: red; }
#listrow_int ~ p.listrow[title$="2%"]:after { content: " (<3% - REPAIR)"; color: red; }
#listrow_int ~ p.listrow[title$="3%"]:after { content: " (<3% - REPAIR)"; color: red; }
#listrow_int ~ p.listrow[title$="4%"]:after { content: " (4%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="5%"]:after { content: " (5%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="6%"]:after { content: " (6%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="7%"]:after { content: " (7%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="8%"]:after { content: " (8%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="9%"]:after { content: " (9%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="10%"]:after { content: " (10%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="11%"]:after { content: " (11%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="12%"]:after { content: " (12%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="13%"]:after { content: " (13%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="14%"]:after { content: " (14%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="15%"]:after { content: " (15%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="16%"]:after { content: " (16%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="17%"]:after { content: " (17%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="18%"]:after { content: " (18%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="19%"]:after { content: " (19%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="20%"]:after { content: " (20%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="21%"]:after { content: " (21%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="22%"]:after { content: " (22%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="23%"]:after { content: " (23%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="24%"]:after { content: " (24%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="25%"]:after { content: " (25%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="26%"]:after { content: " (26%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="27%"]:after { content: " (27%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="28%"]:after { content: " (28%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="29%"]:after { content: " (29%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="30%"]:after { content: " (30%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="31%"]:after { content: " (31%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="32%"]:after { content: " (32%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="33%"]:after { content: " (33%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="34%"]:after { content: " (34%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="35%"]:after { content: " (35%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="36%"]:after { content: " (36%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="37%"]:after { content: " (37%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="38%"]:after { content: " (38%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="39%"]:after { content: " (39%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="40%"]:after { content: " (40%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="41%"]:after { content: " (41%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="42%"]:after { content: " (42%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="43%"]:after { content: " (43%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="44%"]:after { content: " (44%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="45%"]:after { content: " (45%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="46%"]:after { content: " (46%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="47%"]:after { content: " (47%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="48%"]:after { content: " (48%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="49%"]:after { content: " (49%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="50%"]:after { content: " (50%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="51%"]:after { content: " (51%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="52%"]:after { content: " (52%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="53%"]:after { content: " (53%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="54%"]:after { content: " (54%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="55%"]:after { content: " (55%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="56%"]:after { content: " (56%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="57%"]:after { content: " (57%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="58%"]:after { content: " (58%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="59%"]:after { content: " (59%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="60%"]:after { content: " (60%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="61%"]:after { content: " (61%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="62%"]:after { content: " (62%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="63%"]:after { content: " (63%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="64%"]:after { content: " (64%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="65%"]:after { content: " (65%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="66%"]:after { content: " (66%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="67%"]:after { content: " (67%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="68%"]:after { content: " (68%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="69%"]:after { content: " (69%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="70%"]:after { content: " (70%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="71%"]:after { content: " (71%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="72%"]:after { content: " (72%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="73%"]:after { content: " (73%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="74%"]:after { content: " (74%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="75%"]:after { content: " (75%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="76%"]:after { content: " (76%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="77%"]:after { content: " (77%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="78%"]:after { content: " (78%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="79%"]:after { content: " (79%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="80%"]:after { content: " (80%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="81%"]:after { content: " (81%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="82%"]:after { content: " (82%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="83%"]:after { content: " (83%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="84%"]:after { content: " (84%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="85%"]:after { content: " (85%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="86%"]:after { content: " (86%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="87%"]:after { content: " (87%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="88%"]:after { content: " (88%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="89%"]:after { content: " (89%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="90%"]:after { content: " (90%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="91%"]:after { content: " (91%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="92%"]:after { content: " (92%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="93%"]:after { content: " (93%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="94%"]:after { content: " (94%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="95%"]:after { content: " (95%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="96%"]:after { content: " (96%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="97%"]:after { content: " (97%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="98%"]:after { content: " (98%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="99%"]:after { content: " (99%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="100%"]:after { content: " (100%)"; color: #309000;font-size: smaller; }
