#listrow_attackw a:after, #listrow_defensew a:after { font-size: 12px; float: right; }
#listrow_int ~ p.listrow[title$="0%"] a:after { content: " (<3%)"; color: red; }
#listrow_int ~ p.listrow[title$="1%"] a:after { content: " (<3%)"; color: red; }
#listrow_int ~ p.listrow[title$="2%"] a:after { content: " (<3%)"; color: red; }
#listrow_int ~ p.listrow[title$="3%"] a:after { content: " (<3%)"; color: red; }
#listrow_int ~ p.listrow[title$="4%"] a:after { content: " (4%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="5%"] a:after { content: " (5%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="6%"] a:after { content: " (6%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="7%"] a:after { content: " (7%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="8%"] a:after { content: " (8%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="9%"] a:after { content: " (9%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="10%"] a:after { content: " (10%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="11%"] a:after { content: " (11%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="12%"] a:after { content: " (12%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="13%"] a:after { content: " (13%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="14%"] a:after { content: " (14%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="15%"] a:after { content: " (15%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="16%"] a:after { content: " (16%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="17%"] a:after { content: " (17%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="18%"] a:after { content: " (18%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="19%"] a:after { content: " (19%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="20%"] a:after { content: " (20%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="21%"] a:after { content: " (21%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="22%"] a:after { content: " (22%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="23%"] a:after { content: " (23%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="24%"] a:after { content: " (24%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="25%"] a:after { content: " (25%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="26%"] a:after { content: " (26%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="27%"] a:after { content: " (27%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="28%"] a:after { content: " (28%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="29%"] a:after { content: " (29%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="30%"] a:after { content: " (30%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="31%"] a:after { content: " (31%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="32%"] a:after { content: " (32%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="33%"] a:after { content: " (33%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="34%"] a:after { content: " (34%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="35%"] a:after { content: " (35%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="36%"] a:after { content: " (36%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="37%"] a:after { content: " (37%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="38%"] a:after { content: " (38%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="39%"] a:after { content: " (39%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="40%"] a:after { content: " (40%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="41%"] a:after { content: " (41%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="42%"] a:after { content: " (42%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="43%"] a:after { content: " (43%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="44%"] a:after { content: " (44%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="45%"] a:after { content: " (45%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="46%"] a:after { content: " (46%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="47%"] a:after { content: " (47%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="48%"] a:after { content: " (48%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="49%"] a:after { content: " (49%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="50%"] a:after { content: " (50%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="51%"] a:after { content: " (51%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="52%"] a:after { content: " (52%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="53%"] a:after { content: " (53%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="54%"] a:after { content: " (54%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="55%"] a:after { content: " (55%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="56%"] a:after { content: " (56%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="57%"] a:after { content: " (57%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="58%"] a:after { content: " (58%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="59%"] a:after { content: " (59%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="60%"] a:after { content: " (60%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="61%"] a:after { content: " (61%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="62%"] a:after { content: " (62%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="63%"] a:after { content: " (63%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="64%"] a:after { content: " (64%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="65%"] a:after { content: " (65%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="66%"] a:after { content: " (66%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="67%"] a:after { content: " (67%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="68%"] a:after { content: " (68%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="69%"] a:after { content: " (69%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="70%"] a:after { content: " (70%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="71%"] a:after { content: " (71%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="72%"] a:after { content: " (72%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="73%"] a:after { content: " (73%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="74%"] a:after { content: " (74%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="75%"] a:after { content: " (75%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="76%"] a:after { content: " (76%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="77%"] a:after { content: " (77%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="78%"] a:after { content: " (78%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="79%"] a:after { content: " (79%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="80%"] a:after { content: " (80%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="81%"] a:after { content: " (81%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="82%"] a:after { content: " (82%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="83%"] a:after { content: " (83%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="84%"] a:after { content: " (84%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="85%"] a:after { content: " (85%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="86%"] a:after { content: " (86%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="87%"] a:after { content: " (87%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="88%"] a:after { content: " (88%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="89%"] a:after { content: " (89%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="90%"] a:after { content: " (90%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="91%"] a:after { content: " (91%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="92%"] a:after { content: " (92%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="93%"] a:after { content: " (93%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="94%"] a:after { content: " (94%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="95%"] a:after { content: " (95%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="96%"] a:after { content: " (96%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="97%"] a:after { content: " (97%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="98%"] a:after { content: " (98%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="99%"] a:after { content: " (99%)"; color: #309000;font-size: smaller; }
#listrow_int ~ p.listrow[title$="100%"] a:after { content: " (100%)"; color: #309000;font-size: smaller; }
